#footer {
    height: 150px;
    background-color: #111;
    color: #888888;
    text-align: center;
    padding-top: 20px;
}

#git {
    width: 30px;
}

@media screen and (max-width: 767px) {
    #footer {
        font-size: 14px;
        padding: 15px;
    }

    #git {
        width: 24px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    #footer {
        font-size: 15px;
        padding: 20px;
    }

    #git {
        width: 28px;
    }
}