#top-head {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
}
#top-head:hover {
    background-color: rgba(234, 231, 74, 0.5);
    color: rgb(140, 137, 137);
}


#baeklogo {
    max-width: 250px;  
    height: auto;    
}

header div span {
    font-size: 28px;
    font-weight: bold;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

ul {
    display: flex;
    flex-wrap: wrap; 
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    float: left;
    padding: 40px;
    font-size: 20px;
    color: black;
}

#back {
    width: 80%;
    height: auto;
    margin: auto;
    opacity: 0.9; 
    display: block;
}

#disc{
    position: absolute;
    top: 20%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 2;   
    color: white; 
    font-size: 2em; 
    text-align: center;
}

header ul li:hover {
    color: rgb(140, 137, 137); /* 리스트 항목의 hover 색상 */
}

#container {
    width: 1950px;
    height: 800px;
    overflow: hidden;
    position: absolute;
    left: 10%;
    top: 29%;
    margin-left: -250px;
    margin-top: -150px;
}

#공민지 {
    width: 450px;
    height:auto;
    left: 3.5%;
    top: 20px;
    position: absolute;
}

#윤딴딴 {
    width: 450px;
    height:auto;
    left: 28.5%;
    top: 20px;
    position: absolute;
}

#팔로알토 {
    width: 450px;
    height:670px;
    left: 53.2%;
    top: 20px;
    position: absolute;
}

#이재환 {
    width: 450px;
    height:670px;
    left: 78%;
    top: 20px;
    position: absolute;
}

#logo {
    width: 250px;
}